trainer:
  name: Trainer
  num_epochs: 300
  output_dir: experiments/imagenet

model:
  name: efficientnet_b0
  num_classes: 1000

dataset:
  name: ImageNetDataLoader
  root: data
  batch_size: 32
  image_size: 224
  num_workers: 16

optimizer:
  name: TFRMSprop
  lr: 0.0125
  weight_decay: 0
  rho: 0.9
  eps: 1.e-3
  momentum: 0.9
  warmup: 200185

scheduler:
  name: ExponentialLR
  gamma: 0.98738885893
