use_cuda: true
data_parallel: true
num_epochs: 90
output_dir: experiments/imagenet

model:
  name: efficientnet_b0
  num_classes: 1000
  in_channels: 3

dataset:
  name: imagenet_dataloaders
  root: data
  batch_size: 128
  image_size: 224
  num_workers: 16

optimizer:
  name: SGD
  lr: 0.05
  weight_decay: 1.e-5
  momentum: 0.9

scheduler:
  name: MultiStepLR
  milestones: [30, 60, 80]
  gamma: 0.1
<<<<<<< HEAD
  
=======

distributed:
  backend: gloo
  init_method: tcp://127.0.0.1:23456
  rank: 0
  world_size: 2
>>>>>>> Update config
